{% extends 'home/base.html' %}

{% block title %} Change Password {% endblock title %}

{% block css %}
<style>

</style>
{% endblock css %}

{% block body %}
<div class="container mb-4" style="max-width:400px">
<h2 class="text-center my-4">Change Password </h2>
<form action="/account/changePass/" method="post">
{% csrf_token %}
  <div class="mb-3">
    <label for="oldPass" class="form-label">Enter your old Password<span class="text-danger">*</span></label>
    <input type="password" class="form-control" id="oldPass" name="oldPass" required>
  </div>
  <div class="mb-3">
    <label for="newPass" class="form-label">New Password<span class="text-danger">*</span></label>
    <input type="password" class="form-control" id="newPass" name="newPass" required> 
  </div>
  <div class="mb-3">
    <label for="cnewpass" class="form-label">Confirm New Password<span class="text-danger">*</span></label>
    <input type="password" class="form-control" id="cnewpass" name="cnewpass" required>
  </div>

  <button type="submit" class="btn btn-success btn-block">Change Password</button>
</form>
</div>
{% endblock body %}