{% extends 'home/base.html' %}

{% block title %} Quiz Answers {% endblock title %}

{% block css %}
<style>
    .custom-position {
        position: absolute;
        font-size: 18px;
        left: -24px;
        top: 0;
    }
</style>
{% endblock css %}

{% block quizactive %}active {% endblock %}
{% block logQuizactive %}active{% endblock %}
{% block body %}

<div class="container my-3">

    {% if isNotUser %}
    <p style="min-height:90vh">Either You are not <b> login! </b>or you are trying to look something false!! Please try your own result!!</p>
    {% else %}

    <div>
        <h3 class=" d-inline-block p-2">{{userscore.quizTitle}}</h3>
        <div id="quiz">

        </div>
        {% comment %} <p class="text-capitalize font-weight-bold mt-4 mb-1">{{ques}}</p> {% endcomment %}
    </div>

  
    <div><strong>Your score is {{userscore.user_score}}/{{userscore.total_score}}</strong></div>
    <a href="/quiz" role="button" class="btn btn-primary m-2">Play More Quiz</a>
    <textarea name="" id="content" cols="1" rows="1">{{userscore.quiz_data}}</textarea>
</div>
<script>
    let quiz = document.getElementById("quiz");
    let json_raw = document.getElementById("content").innerHTML;
    document.getElementById("content").remove()
    let json = JSON.parse(json_raw)
    
    let html = '';
    json.forEach((item,index) => {
        html += `<div>
            <p class="text-capitalize font-weight-bold mt-4 mb-1">${index+1}) ${item.Ques}</p>
            <input type="hidden" value="${item.userAns}" class="userAns">
            <input type="hidden" value="${item.Ans}" class="Ans">
            <div class="form-check">
            <input class="form-check-input quiz${index+1}" type="radio" disabled value="${item.choice1}">
            <label class="form-check-label">
                ${item.choice1}
            </label>
            </div>

            <div class="form-check">
            <input class="form-check-input quiz${index+1}" type="radio" disabled value="${item.choice2}">
            <label class="form-check-label">
                ${item.choice2}
            </label>
            </div>

            <div class="form-check">
            <input class="form-check-input quiz${index+1}" type="radio" disabled value="${item.choice3}">
            <label class="form-check-label">
                ${item.choice3}
            </label>
            </div>
            
            <div class="form-check">
            <input class="form-check-input quiz${index+1}" type="radio" disabled value="${item.choice4}">
            <label class="form-check-label">
                ${item.choice4}
            </label>
            </div>
        </div>`;
        if (item.is_correct == "unanswered") {
            html += `<p class="text-warning">You not attempt this question!</p>`
        }
        else if(item.is_correct == "true"){
            html += `<p class="text-success">Your answer is Correct</p>`
        }
        else{
            html += `<p class="text-danger">Your answer is Incorrect</p>`
        }
    });
    quiz.innerHTML = html
    let userAns = document.querySelectorAll(".userAns")
    let Ans = document.querySelectorAll(".Ans")
    json.forEach((item,index)=>{

        var valid_choices = document.querySelectorAll(`.quiz${index+1}`);
        valid_choices.forEach(element=>{
                if (element.value == userAns[index].value){
                    element.setAttribute("checked",""); 
                    if(item.is_correct == "false"){
                        element.nextElementSibling.style.color = "red";
                        createSpan("red",`<i class="fas fa-times"></i>`,element)
                    }  
                }
                if(element.value == Ans[index].value){
                    element.nextElementSibling.style.color = "green";
                    createSpan("green",`<i class="fa fa-check"></i>`,element)
                }
            })

            function createSpan(color,text,element){
                let span = document.createElement("span")
                span.setAttribute("class","custom-position")
                span.innerHTML = text;
                span.style.color = color;
                element.parentElement.prepend(span)
            }
    })
</script>
  {% endif %}
{% endblock body %}